#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Tues BADGE";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  125       0     0     0>
            , <&key_physical_attrs 100 100  250  125       0     0     0>
            , <&key_physical_attrs 100 100  125    0       0     0     0>
            , <&key_physical_attrs 100 100  125  125       0     0     0>
            , <&key_physical_attrs 100 100  375  125       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            ;
    };
};
